src/main/webapp/schema/demo_basic_attribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/simple5"
	xmlns:tns="http://www.example.org/simple5"
	elementFormDefault="qualified">

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"  />
				<xs:element name="married" type="xs:boolean" default="true"/>
			</xs:sequence>
			<xs:attribute name="age" type="xs:byte" use="optional"/>
		</xs:complexType>
	</xs:element>

</xs:schema>