src/main/webapp/schema/demo_simple_types_all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/simple5"
	xmlns:tns="http://www.example.org/simple5"
	elementFormDefault="qualified">

	<xs:element name="root">
		<xs:complexType>
			<xs:all>
				<xs:element name="string" type="xs:string" />
				<xs:element name="integer" type="xs:integer" />
				<xs:element name="boolean" type="xs:boolean" />
				<xs:element name="dateTime" type="xs:dateTime"/>
				<xs:element name="date" type="xs:date"/>
				<xs:element name="time" type="xs:time"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>