src/main/webapp/schema/thesis_layout_repeat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/layouts"
	xmlns:tns="http://www.example.org/layouts"
	elementFormDefault="qualified">
	
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
			<xs:element name="name" type="xs:string"/>
			<xs:element name="age" type="xs:short"/>
			<xs:element name="sex">
				<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="M"/>
							<xs:enumeration value="F"/>
						</xs:restriction>
				</xs:simpleType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>